div canvas {
	margin-top: 135px;
	cursor: grab;
}

.lightbox-img {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/* @media screen and (min-width: 982px) {
	.pano-thumbnail {
		max-width: 75%;
	}
} */
